* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 200px ;
    align-items:center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgb(255, 255, 255,0.3);
    height: 100px;
    padding-top: 85px;

}

header:hover{
    background: rgb(255, 255, 255,1);
}
.logo img{
width: 200px;
margin-bottom: 80px;
    
}
.menu{
    flex: 3;
    display: flex;  
    margin-bottom: 100px;
}
.menu >  li {
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu {
    visibility: visible;
    top: 20px;
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;  
    z-index: 1;
    background: #fff; 
}   
.sub-menu ul {
    padding-left: 20px;
}
.sub-menu li a {
    font-weight: normal;
    font-size: 12px!important;
}
.menu   li   a { 
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;

}

.others {
    display: flex;
    margin-bottom: 100px;
}
.others > li {
    padding: 0 12px;
    position: relative;
}
.others > li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);

}
.others > li:last-child::after{
    display: none;
}
.others > li:first-child {
     position: relative;
}
.others > li:first-child input {
    width: 100px;
    border: none;
    background: transparent;
    outline: none;
}

.others > li:first-child i {
    position: absolute;
    right: 10px;
}
* {
    padding: 0;
    margin: 0;
}

#wrapper{
    padding-top: 100px;
    max-width: 1170px;
    margin: 0 auto;
}
.headline{
    max-width: 300px;
    text-align: center;
    margin: 40px auto;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    font-size: 18px;
    color:#555;
    padding: 10px 20px;
    font-weight: bold ;
    display:    block;
} 
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 25%;    
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
ul.products li img {
    max-width: 100%;
    height: auto;
}
ul.products li .products-top {
    position: relative;
    overflow: hidden;
}
ul.products li .products-top .products-thumb {
    display: block;
}
ul.products li:hover .products-top .products-thumb img{
    filter: opacity(80%);

}
ul.products li .products-top .products-thumb img{
    display: block;
}
ul.products li .products-top a.show-more{
    text-decoration: none;
    background-color: black;
    text-align: center;
    display: block;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.5s;
    opacity: 1;
}
ul.products li:hover a.show-more{
    bottom: 0px;
}
ul.products li .products-info a{
    display: block;
    text-decoration: none;
    color: black;   
    font-weight: bold;

}


#app-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 70px 0 50px 0;
  }
  .app-google {
    margin: 50px;
  }
  .app-google img{
    height: 50px;
    cursor: pointer;
  }
  #app-container p{
    line-height: 0px;
    letter-spacing: 1px;
    font-size: 15px;
    color: #000;
    font-weight: bold;
  }
  #app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    width: 300px;
    text-align: center;
    outline: none;
  }
  .footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;

  }
  .footer-top img{
    height: 50px;
  }
  .footer-top li{
    padding: 0 12px;
    position: relative;
  }
  .footer-top li::after {
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
  }
  .footer-top li:last-child::after{
    display: none;
  }
  .footer-top li:last-child a{
    margin-right: 12px;
  }
  .footer-center{
    text-align: center;
  }
  .footer-bottom{
    margin: 20px 0;
    text-align: center;
    color: #ccc;
  }
