* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 200px ;
    align-items:center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgb(255, 255, 255,0.3);
    height: 100px;
    padding-top: 85px;

}

header:hover{
    background: rgb(255, 255, 255,1);
}
.logo img{
width: 200px;
margin-bottom: 80px;
    
}
.menu{
    flex: 3;
    display: flex;  
    margin-bottom: 100px;
}
.menu >  li {
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu {
    visibility: visible;
    top: 20px;
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;  
    z-index: 1;
    background: #fff; 
}   
.sub-menu ul {
    padding-left: 20px;
}
.sub-menu li a {
    font-weight: normal;
    font-size: 12px!important;
}
.menu   li   a { 
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;

}

.others {
    display: flex;
    margin-bottom: 100px;
}
.others > li {
    padding: 0 12px;
    position: relative;
}
.others > li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);

}
.others > li:last-child::after{
    display: none;
}
.others > li:first-child {
     position: relative;
}
.others > li:first-child input {
    width: 100px;
    border: none;
    background: transparent;
    outline: none;
}

.others > li:first-child i {
    position: absolute;
    right: 10px;
}
.product{
    padding: 100px 100px;
}
.product-content-left{
    width: 50%;
    text-align: center;
    justify-content: start; 
}
.product-content-left-big-img{
    width: 80%;
   
}
.product-content-left-big-img img{
    width: 80%;
}
.product-content-left-small-img{
    
    width: 15%;
}
.product-content-left-small-img img{
    width: 100%;
    cursor: pointer;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-name h1{
    font-size: 16px;
}
.product-content-right-name p{
    color: #cccccc;
    font-size: 12px;
}
.product-content-right-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}
.product-content-right-color img{
    width: 30px;
}
.product-content-right-color-img{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
    cursor: pointer;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;

}
.quantity {
    display: flex;
    margin-bottom: 20px;

}
.quantity input  {
    width: 35px;
    padding-left: 3px;

}
.product-content-right-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.4s ease;
}
.product-content-right-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-button button:first-child:hover{
    background-color: black;
    color:#ffff;
}
.product-content-right-button button:last-child{
    border: 2px solid #BF8A49;
    color:#BF8A49 ;
    background-color: #ffff;
    cursor: pointer;
}
.product-content-right-button button:last-child:hover{
    background-color:#BF8A49;
    color:#ffff;
}
.product-content-right-icon {
    display: flex;
}
.product-content-right-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product-content-right-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-qr {
    margin: 20px;
    width: 100%;
}
.product-content-right-qr img{
    width: 20%;
}
.product-content-right-bottom {
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;

}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.product-content-right-bottom-content-title{
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content-title-item p{
    font-size: 15px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
    font-size: 12px;
}
.product-content-right-bottom-content-chatlieu{
    display:none;
}
.activeB{
    display: none;
}







#app-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 70px 0 50px 0;
  }
  .app-google {
    margin: 50px;
  }
  .app-google img{
    height: 50px;
    cursor: pointer;
  }
  #app-container p{
    line-height: 0px;
    letter-spacing: 1px;
    font-size: 15px;
    color: #000;
    font-weight: bold;
  }
  #app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    width: 300px;
    text-align: center;
    outline: none;
  }
  .footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;

  }
  .footer-top img{
    height: 50px;
  }
  .footer-top li{
    padding: 0 12px;
    position: relative;
  }
  .footer-top li::after {
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
  }
  .footer-top li:last-child::after{
    display: none;
  }
  .footer-top li:last-child a{
    margin-right: 12px;
  }
  .footer-center{
    text-align: center;
  }
  .footer-bottom{
    margin: 20px 0;
    text-align: center;
    color: #ccc;
  }
